#screen_calc{
    height: 80px;
    width: 420px;
    margin-left: 10px;
    margin-bottom: 20px;
    padding: 20px;
    text-align: justify;
    vertical-align: auto;
    border-color: #fff;
    border-width: 1px;
    border-radius: 10px;
    border-style: solid;

}

#container{
    padding: 20px;
    padding-top: 30px;
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;

    width: 480px;
    border-color: #fff;
    border-width: 1px;
    border-radius: 10px;
    border-style: solid;
    font-size: 64;

}


body{
    background-color: #111;
    color: #fff;
    padding: 10px;
    font-family: 'Roboto Mono', monospace;
    font-weight: thin;

}

button {
    font-size: 64;
    width: 100;
    height: 100;
    padding: 10px;
    margin: 10px;
    border-color: #fff;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    transition-duration: 0.1s;
}

button:hover {
    border-radius: 20px;
    border-width: 2;
}

#f{
    opacity: 0;
}

#egg{
    padding: 20;
    text-align: center;
}


